/* Tela index para organização das atividades */
#titulo {
    color: white;
    font-size: 70px;
    font-family: cursive;
}


.container {
    width: 80%;
    margin: auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 25%;
    height: auto;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card a {
    text-decoration: none;
    background-color: rgb(212, 0, 212);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 20px;
    margin: 20px;
}

#contato {
    color: white;
}

/* Criando padrão para fileiras e quadrados */
.org {
    width: 100%;
    background-color: #cdcdcd;
    height: auto;
    margin: 5px;
    display: flex;
}

.quadrado {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Exercício A */
.cor1 {
    background-color: rgb(133, 197, 250);
}

.cor2 {
    background-color: rgb(29, 29, 114);
}

.cor3 {
    background-color: rgb(255, 56, 139);
}

.cor4 {
    background-color: rgb(252, 162, 121);
}

.f1 {
    justify-content: flex-start;
}

.f2 {
    justify-content: flex-end;
}

.f3 {
    justify-content: center;
}

.f4 {
    justify-content: space-between;
}

.f5 {
    justify-content: space-around;
}

.f6 {
    justify-content: space-evenly;
}

/* Exercicío B */
.B{
    flex-direction: column-reverse;
}
/* Exercicío C */
.desafio{
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
}